# To install Cluster Agent 
installClusterAgent: true
installInfraViz: true


# controller info
controllerInfo:
  url: xxx
  account: xxx        
  username: xxxx
  password: xxxx   
  accessKey: xxx

infraViz: 
  appName: "appName"
  nodeOS: "linux" 
  enableMasters: false 
  stdoutLogging: false 
  enableContainerHostId: true 
  enableServerViz: true 
  enableDockerViz: false 
#  runAsUser: <UID of runAsUser>
#  runAsGroup: 1001    # Netviz config

# Cluster agent config
clusterAgent:
  nsToMonitorRegex: digibank
  logProperties:
    logFileSizeMb: 5
    logFileBackups: 3
    logLevel: INFO  

instrumentationConfig:
  enabled: true
  instrumentationMethod: Env
  nsToInstrumentRegex: digibank
  appNameStrategy: manual
  defaultAppName: <<YOUR_APP_NAME>>>

 
  imageInfo:
    java:
      image: "docker.io/appdynamics/java-agent:latest"
      agentMountPath: /opt/appdynamics
      imagePullPolicy: Always
  instrumentationRules:  
    - matchString: digital-bank-front|digital-bank-credit-deployment|digital-bank-backends-atm-java-deployment  
      namespaceRegex: digibank
      language: java
      imageInfo:
        image: "docker.io/appdynamics/java-agent:latest"        
        agentMountPath: /opt/appdynamics
        imagePullPolicy: Always
#      customAgentConfig: "-Dappdynamics.opentelemetry.enabled=true"
#      appNameLabel: digibank-k8s  

